$alabaster: #f7f7f7;
$aqua-haze: #e0ecef;
$black: #000;
$blumine: #126681;
$coral: #d96946;
$dusty-gray: #9f9b9b;
$light-gray: #aeaeae;
$dark-gray: #797979;
$gothic: #72919a;
$linen: #fbefe3;
$mine-shaft: #222222;
$mine-shaft2: #333333;
$polar: #e5f4f9;
$snow: #fafafa;
$white: #fff;
