$alabaster: #f7f7f7;
$aqua-haze: #e0ecef;
$black: #000;
$blumine: #126681;
$coral: #fa865f;
$dusty-gray: #9f9b9b;
$gothic: #72919a;
$linen: #fbefe3;
$mine-shaft: #222222;
$polar: #e5f4f9;
$snow: #fafafa;
$white: #fff;
