@use './colors' as color;

/* colors */
$color-primary: color.$polar;
$color-primary--dark: color.$blumine;
$color-secondary: color.$coral;
$color-secondary--light: color.$linen;
$color-background: color.$white;
$color-placeholder: color.$gothic;

$color-text-body: color.$black;
$color-text-secondary: color.$black;
$color-text-article: color.$mine-shaft;
$color-text-heading: $color-text-body;
$color-text-heading--small: $color-text-heading;
$color-text-field-bg: color.$snow;
$color-hero-link: $color-text-body;
$color-link: $color-secondary;
$color-link--main-nav: color.$black;
$color-link--with-arrow: color.$black;

/* typography */
$font-body: 'Rubik', sans-serif;
$font-heading: $font-body;
$font-button: $font-body;

$fs-base: 62.5%; // only for setting the font size for base html element
$fs14: 1.4rem;
$fs16: 1.6rem;
$fs20: 2rem;
$fs24: 2.4rem;
$fs32: 3.2rem;
$fs44: 4.4rem;

$fs-body: $fs20;
$fs-secondary: $fs16;
$fs-tertiary: $fs14;
$fs-heading: $fs24;
$fs-heading--medium: $fs32;
$fs-heading--large: $fs44;

$lh-body: 3.2rem;
$lh-heading: 3.6rem;
$lh-small: 2.4rem;
$lh-heading--large: 4.8rem;

$bold: 700;
$weak: 400;

/* spacing */
$space: 1.6rem;
$space-half: 0.5 * $space;
$space-double: 2 * $space;

/* gutters */
$margin-body: 10rem;
$margin-body-mobile: 2rem;

/* box-shadow */
$box-shadow: 0px 4px 4px lighten(color.$black, 75%);

/* buttons */
$button-bg-color--primary: $color-primary--dark;
$button-bg-color--secondary: $color-secondary;
$button-bg-color-focus--secondary: $color-primary;
$button-color-focus--secondary: $color-primary--dark;
$button-border-radius: 4px;
$button-color: color.$white;
$button-height: 6.4rem;
$button-width: 19.2rem;
$button-width--link: 38.4rem;
$fs-button: $fs-secondary;
$lh-button: $button-height;

/* contact paragraph */
$contact-paragraph-width: 34rem;
$contact-paragraph-header-lh: 2rem;
$contact-paragraph-content-space: 9rem;
$contact-paragraph-logo-space: 2rem;

/* text fields */
$text-field-background: $color-text-field-bg;
$text-field-border: 0.1rem solid rgba(0, 0, 0, 0.24);
$text-field-height: 6rem;
$text-field-padding: 2rem;
$text-field-radius: 0.4rem;
$text-field-width: 62rem;

/* COMPONENTS */

/* article preview */
$article-preview-width: 38.4rem;
$article-preview-img-space: 1.4rem;
$article-preview-space: 0.4rem;
$article-preview-space-double: 2 * $article-preview-space;
$article-preview-row-section-margin-bottom: 0.1rem;

/* article preview list */
$article-list-item-margin-top: 4.8rem;
$article-list-column-margin-right: 5.1rem;

/* preview column */
$preview-column-item-margin-top: 3.2rem;
$preview-column-width: 38.4rem;
$preview-column-heading-letter-spacing: 0.1em;

/* blurb */
$blurb-bg-color: $color-primary;
$blurb-font-color: $color-primary--dark;
$blurb-margin: 3rem 0;
$blurb-padding: 2rem 4rem;

/* hero */
$hero-padding--left: $space-double;
$hero-padding--top: $space-double;

/* pager */
$pager-fs: $fs-secondary;
$pager-padding: $space $space $space 0;

$pager-arrow-height: 1.2rem;

$pager-item-padding: 0 $space;

/* pages */
$article-heading-margin: $space 0;
$article-img-height: 30rem;
$article-img-margin: $space-double 0;
$article-max-width: 80rem;

/* profile picture */
$profile-image-background: $color-placeholder;
$profile-image-border-radius: 20rem;
$profile-image-height: 3.2rem;
$profile-image-width: 3.2rem;

/* tags */
$tag-font-color: color.$black;
$tag-height: 3.2rem;
$tag-font-size: $fs-tertiary;
$tag-separator-color: color.$black;
$tag-separator-margin: $space-half;
$tag-width: 8rem;

$toggle-tag-bg-color: color.$alabaster;
$toggle-tag-bg-color--active: $color-secondary;
$toggle-tag-border-color: color.$gothic;
$toggle-tag-border-color--active: darken($color-secondary, 40%);
$toggle-tag-border-radius: 3.2rem;
$toggle-tag-font-color: lighten(color.$black, 50);
$toggle-tag-font-color--active: color.$white;
