@use './colors' as color;

/* colors */
$color-primary: color.$polar;
$color-primary--dark: color.$blumine;
$color-secondary: color.$coral;
$color-secondary--light: color.$linen;

$color-background: color.$white;

/* typography */
$fs-base: 16px; // only for setting the font size for base html element
$fs-body: 1.25rem;
$fs-secondary: 1rem;
$fs-heading: 1.5rem;
$fs-heading--large: 2.75rem;

/* spacing */
$space: 1rem;
$space-half: 0.5rem;
$space-double: 2rem;
