@use './colors' as color;

/* colors */
$color-primary: color.$polar;
$color-primary--dark: color.$blumine;
$color-secondary: color.$coral;
$color-secondary--light: color.$linen;
$color-background: color.$white;

$color-text-body: $color-primary--dark;
$color-text-secondary: color.$black;
$color-text-heading: $color-primary--dark;
$color-text-heading--small: color.$black;
$color-link: $color-secondary;
$color-link--main-nav: $color-primary--dark;

/* typography */
$font-body: 'Rubik', sans-serif;
$font-heading: $font-body;
$font-button: $font-body;

$fs-base: 16px; // only for setting the font size for base html element
$fs-body: 1.25rem;
$fs-secondary: 1rem;
$fs-heading: 1.5rem;
$fs-heading--large: 2.75rem;

$lh-body: 2rem;

$bold: 700;

/* spacing */
$space: 1rem;
$space-half: 0.5rem;
$space-double: 2rem;

/* box-shadow */
$box-shadow: 0px 4px 4px lighten(color.$black, 75%);

/* buttons */
$button-bg-color--primary: $color-primary--dark;
$button-bg-color--secondary: $color-secondary;
$button-bg-color-focus--secondary: $color-primary;
$button-color-focus--secondary: $color-primary--dark;
$button-border-radius: 4px;
$button-color: color.$white;
$button-height: 4rem;
$button-width: 12rem;
$button-width--link: 24rem;
$fs-button: $fs-secondary;
$lh-button: $button-height;

/* contact paragraph measurements */
$contact-paragraph-width: 32rem;
$contact-paragraph-header-lh: 1.9rem;
$contact-paragraph-content-margin: 5rem;
