// put styles that affect everything on the site (for example heading styles) here
html {
  font-size: var.$fs-base;
}

body {
  color: var.$color-text-body;
  font-family: var.$font-body;
  font-size: var.$fs-body;
  height: 100%;
  line-height: var.$lh-body;
}

a {
  text-decoration: none;
  color: var.$color-link;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline-color: var.$color-secondary;
  }
}

button {
  background-color: var.$button-bg-color--secondary;
  border-radius: var.$button-border-radius;
  border-width: 0;
  box-shadow: var.$box-shadow;
  color: var.$button-color;
  font-size: var.$fs-secondary;
  font-weight: bolder;
  height: var.$button-height;
  text-transform: uppercase;
  width: var.$button-width;

  &:hover,
  &:focus {
    background-color: darken(var.$button-bg-color--secondary, 10%);
    text-decoration: underline;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
}

input {
  background: var.$text-field-background;
  border: var.$text-field-border;
  border-radius: var.$text-field-radius;
  box-sizing: border-box;
  font-size: var.$font-body;
  height: var.$text-field-height;
  max-width: var.$text-field-width;
  outline: none;
  padding: var.$text-field-padding;

  &:hover,
  &:focus {
    border-color: var.$color-secondary;
  }
}

h1 {
  font-family: var.$font-heading;
  font-size: var.$fs-heading--large;
  font-weight: var.$bold;
  line-height: var.$lh-heading--large;
}
h2 {
  font-size: var.$fs-heading--large;
  font-weight: normal;
}
h3 {
  font-size: var.$fs-heading--medium;
  font-weight: bold;
  line-height: var.$lh-heading;
}
h4 {
  font-size: var.$fs-heading;
}
h5 {
  font-size: var.$fs-heading;
}
h6 {
  font-size: var.$fs-heading;
}
