.about-page-bg {
  /*background: linear-gradient(
    0deg,
    rgba(182, 158, 150, 0.51),
    rgba(182, 158, 150, 0.51)
  );*/
  width: 100%;
}

/*.about-page-aalto-logo {
  position: absolute;
  background-blend-mode: overlay;
}*/

.about-page-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.about-page-text {
  width: var.$about-page-text-width;
}
