.article-preview {
  color: var.$color-text-secondary;
  display: flex;
  font-size: var.$fs-body;

  &-horizontal {
    @extend .article-preview;
    flex-direction: column;
  }
  &-vertical {
    @extend .article-preview;
    height: var.$article-preview-vertical-height;
    flex-direction: row;
  }
}

.info-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: var.$article-preview-horizontal-width;
}

a {
  color: var.$color-text-secondary;
}

.row-section {
  display: flex;
  font-size: var.$fs-tertiary;
  align-items: center;
  margin-bottom: var.$article-preview-space;
  div {
    margin-right: var.$article-preview-space;
  }
}

.author-section {
  display: flex;
  font-size: var.$fs-tertiary;
  margin-top: var.$article-preview-space;

  &-vertical {
    @extend .author-section;
    margin: 0;
  }
  a {
    margin-right: var.$article-preview-space;
  }
}

h3 {
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}

.title-vertical {
  font-size: var.$fs-heading;
  line-height: var.$lh-small;
}

.image-link-horizontal {
  margin-bottom: var.$article-preview-space;
}

.image-link-vertical {
  margin-right: var.$article-preview-vertical-img-space;
}
