.article-preview-list {
  display: flex;
}

.list-item {
  max-width: var.$article-preview-width;
  margin-top: var.$article-list-item-margin-top;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: var.$article-list-column-margin-right;

  &-first {
    @extend .column;
    @include mixin.breakpoint('md', max) {
      margin-right: 0;
    }
  }
  &-second {
    @extend .column;
    @include mixin.breakpoint('md', max) {
      visibility: hidden;
    }
    @include mixin.breakpoint('lg', max) {
      margin-right: 0;
    }
  }
  &-third {
    @extend .column;
    @include mixin.breakpoint('lg', max) {
      visibility: hidden;
    }
    margin-right: 0;
  }
}
