.contact-paragraph {
  display: flex;
  flex-direction: column;
  font-size: var.$fs-base;
  justify-content: space-between;
  max-width: var.$contact-paragraph-width;

  p {
    font-size: var.$fs-body;
    font-style: italic;
    margin-bottom: var.$contact-paragraph-content-space;

    span {
      font-weight: var.$bold;
    }
  }
}

.header-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-texts {
  color: var.$color-text-heading--small;
  display: flex;
  flex-direction: column;
  font-size: var.$fs-secondary;
  line-height: var.$contact-paragraph-header-lh;
  margin-left: var.$contact-paragraph-logo-space;
}

.main-header {
  font-weight: var.$bold;
}
