.header-search-area {
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: var.$search-area-title-margin;
  }

  span {
    margin-bottom: var.$search-area-description-margin;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: var.$search-area-tag-list-margin;

    li {
      margin-right: var.$search-area-tag-margin;
      margin-bottom: var.$search-area-tag-margin;
    }
  }
}

.search-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .search-bar-section {
    display: flex;
    flex-wrap: wrap;

    div {
      margin-right: var.$space;
      max-width: var.$text-field-width;
      flex-grow: 2;
    }

    button {
      height: var.$search-area-button-height;
      width: var.$search-area-button-width;
    }
  }
}
