.layout {
  background-color: var.$color-background;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  margin: auto;
  padding: var.$space;
}

.nav {
  display: flex;
  justify-content: space-between;
}
