.pager {
  button {
    background: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: none;
    border: none;

    &:hover,
    &:focus {
      color: var.$color-secondary;
    }
  }

  @include mixin.breakpoint('md', max) {
    flex-wrap: wrap;
    justify-content: center;
  }

  display: flex;
  flex-wrap: nowrap;
  font-size: var.$pager-fs;
  padding: var.$pager-padding;

  &-item {
    color: var.$color-text-secondary;
    padding: var.$pager-item-padding;
    width: var.$space-double;

    &--current {
      @extend .pager-item;
      color: var.$color-secondary;
    }

    &--hide-on-small {
      @extend .pager-item;
      display: none;
    }
  }
}

.pager-items {
  @include mixin.breakpoint('md', max) {
    order: 1;
  }

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  order: 2;
  list-style: none;
}

.arrow-link {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-weight: var.$bold;
  padding: var.$pager-item-padding;

  color: var.$color-secondary;

  @include mixin.breakpoint('md', max) {
    width: var.$space;
  }

  &--left {
    @extend .arrow-link;
    order: 1;
    max-width: var.$pager-arrow-left-width;
    margin-right: var.$space-half;

    @include mixin.breakpoint('md', max) {
      order: 2;
      margin-left: var.$space-half;
      margin-right: 0;
    }
  }

  &--right {
    @extend .arrow-link;
    order: 3;
    margin-left: var.$space-half;
  }

  .link-text {
    @include mixin.breakpoint('md', max) {
      display: none;
    }
  }
}

.arrow {
  height: var.$pager-arrow-height;

  &-right {
    @extend .arrow;
  }

  &-left {
    @extend .arrow;
    transform: rotate(180deg);
  }
}
