.preview-column {
  width: var.$preview-column-width;

  h2 {
    color: var.$color-sub-heading;
    font-size: var.$fs-body;
    font-weight: var.$medium;
    letter-spacing: var.$preview-column-heading-letter-spacing;
    text-transform: uppercase;
  }
}

.link-arrow {
  margin-top: var.$preview-column-item-margin-top;
  font-weight: var.$bold;

  span {
    text-transform: lowercase;
  }
}

.column-items {
  display: flex;
  flex-direction: column;

  li {
    margin-top: var.$preview-column-item-margin-top;
  }

  :first-child {
    margin-top: 0;
  }
}
