.profilePicture {
  background: var.$profile-image-background;
  background-size: var.$profile-image-height var.$profile-image-width;
  border-radius: var.$profile-image-border-radius;
  height: var.$profile-image-height;
  width: var.$profile-image-width;
}
