button {
  background: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
  border: none;
  width: auto;
  height: auto;
  &:hover,
  &:focus {
    background: none;
    text-decoration: none;
  }
}

h2 {
  margin: 0;
}

.search-area {
  ul {
    li {
      margin-right: var.$search-area-tag-wide-margin;
    }
  }
}

.accordion-menu {
  display: flex;
  align-items: center;
}

.topics-menu-header {
  margin-top: var.$content-page-margin;
}

.instruments {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.instrumentSection {
  @include mixin.no-content-margins();
  @include mixin.content-paddings();
  display: flex;
  flex-direction: column;
  margin-top: var.$content-page-margin;
  padding-top: var.$research-page-instrument-list-padding;
  background-color: var.$color-homepage-section-bg--researchers;
  @include mixin.breakpoint('lg', max) {
    padding-bottom: var.$research-page-instrument-list-padding;
    padding-top: var.$research-page-instrument-list-padding;
  }

  h2 {
    margin-top: 0;
  }

  .instruments {
    display: flex;
    flex-wrap: wrap;
    li {
      margin-right: var.$article-list-column-margin-right;
      margin-bottom: var.$article-list-item-margin-top;
      @include mixin.breakpoint('md', max) {
        margin-right: 0;
      }
    }
  }
}

.hidden {
  display: none;
}

.menu-logo {
  color: var.$color-sub-heading;
  font-size: var.$fs24;
  margin-right: var.$space;
}
