.tag {
  background-color: var.$tag-bg-color;
  border-color: var.$tag-border-color;
  border-radius: var.$tag-border-radius;
  border-style: solid;
  border-width: 1px;
  color: var.$tag-font-color;
  display: inline-block;
  font-size: var.$tag-font-size;
  height: var.$tag-height;
  line-height: var.$tag-height;
  text-align: center;
  width: var.$tag-width;

  &:focus {
    background-color: var.$tag-bg-color;
  }

  &:hover {
    background-color: lighten(var.$tag-bg-color, 5%);
  }

  &--active {
    background-color: var.$tag-bg-color--active;
    border-color: var.$tag-border-color--active;
    color: var.$tag-font-color--active;

    &:focus {
      background-color: var.$tag-bg-color--active;
    }

    &:hover {
      background-color: lighten(var.$tag-bg-color--active, 15%);
      text-decoration: none;
    }
  }
}

button {
  box-shadow: none;
  box-sizing: content-box;
  font-weight: normal;
  height: var.$tag-height;
  padding: 0;
  text-transform: initial;

  &:focus {
    text-decoration: none;
  }

  &:hover {
    background-color: lighten(var.$tag-bg-color, 15%);
    text-decoration: none;
  }
}
